<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>   <% restaurant.menu.forEach((item, index) => { %>
    <a href="/<%= index %>"></a>
  <% }) %> </title>
</head>
<body>
  <h1>Home Page</h1>
  <p>The restaurant <%= restaurant.name %> is located at <%= restaurant.address %>. To contact them call <%= restaurant.phone %>.</p>
</body>
</html>
